

  <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
        <div class=" task shadow-sm border-0 p-3 text-center">
        <h5 class="card-title text-primary" onclick="window.location.href='/task/<%= task._id %>'" style="cursor: pointer;">
            <%= task.name %>
        </h5>
        <a href="/task/<%= task._id %>" class="btn btn-outline-primary btn-sm mt-2">View Details</a>
    </div>
      </div>