<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/header.ejs'); %>
  </head>
  <body class="container">
    <div class="app-container">
      <form id="passwordForm">
        <input type="hidden" id="token" value="<%= token || '' %>" />
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h3 class="card-title mb-3">Update Password</h3>
            <div class="mb-3">
              <label for="password" class="form-label">New Password</label>
              <input
                name="password"
                type="password"
                class="form-control"
                id="password"
                placeholder="Enter Your Password"
              />
            </div>
            <div class="mb-4">
              <label for="confirmpassword" class="form-label"
                >Confirm Password</label
              >
              <input
                name="confirmpassword"
                type="password"
                class="form-control"
                id="confirmpassword"
                placeholder="Enter Your Password"
              />
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">
                Save Password
              </button>
            </div>
          </div>
        </div>
      </form>

      <script>
        document.addEventListener("DOMContentLoaded", function () {
          document
            .getElementById("passwordForm")
            .addEventListener("submit", async (e) => {
              e.preventDefault();

              const password = document.getElementById("password").value;
              const confirmpassword =
                document.getElementById("confirmpassword").value;
              const token = document.getElementById("token").value;

              try {
                const response = await fetch("/savepassword", {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                    Accept: "application/json",
                  },
                  body: JSON.stringify({ password, confirmpassword, token }),
                });

                const result = await response.json();

                if (!response.ok) {
                  alert(result.error || "Something went wrong!");
                  return;
                }

                alert(
                  "Password updated successfully! Redirecting to Sign In..."
                );
                window.location.href = "/signin";
              } catch (error) {
                console.error("Error:", error);
                alert("Something went wrong! Please try again.");
              }
            });
        });
      </script>
    </div>

    <footer><%- include('./components/footer.ejs'); %></footer>
  </body>
</html>
