<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/header.ejs'); %>
  </head>
  <body class="container">
    <div class="app-container">
      <form id="signupForm">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h3 class="card-title mb-3">Create Account</h3>
            <div class="mb-3">
              <label for="fullName" class="form-label">Full Name</label>
              <input
                name="name"
                type="text"
                class="form-control"
                id="fullName"
                placeholder="Enter Your Name"
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input
                name="email"
                type="email"
                class="form-control"
                id="email"
                placeholder="name@example.com"
              />
            </div>
            <div class="mb-4">
              <label for="password" class="form-label">Password</label>
              <input
                name="password"
                type="password"
                class="form-control"
                id="password"
                placeholder="Enter Your Password"
              />
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">
                Create Account
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <footer><%- include('./components/footer.ejs'); %></footer>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        document
          .getElementById("signupForm")
          .addEventListener("submit", async (e) => {
            e.preventDefault();

            const email = document.getElementById("email").value;
            const name = document.getElementById("fullName").value;
            const password = document.getElementById("password").value;

              console.log("Form submitted!");

            try {
              const response = await fetch("/signup", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                  Accept: "application/json",
                },

                body: JSON.stringify({ name, email, password }),
              });

              console.log("API call made, waiting for response...");

              const data = await response.json();
              console.log("Response received:", data);

              if (!response.ok) {
                
                const errorData = await response.json();
                alert(errorData.error || "Signup failed");
                return;
              }

              window.location.href = "/signin";
            } catch (error) {
              console.error("Login error:", error);
              alert("Something went wrong! Please try again.");
            }
          });
      });
    </script>
  </body>
</html>
